body {
	font-family: 'amatic sc', cursive;
}

h1 {
	color: #444;
	font-weight: bold;
	font-size: 60px;
	margin: 0;
	text-align:center;
	text-decoration: underline;
	padding-top: 20px;
}

h1.listTitle {
	margin-bottom: 20px;
}

.container {
	max-width: 400px;
	margin: 0 auto;
}

.listBg {
margin-top: 20px;
background-image: url("../img/notepaper.jpg");
background-repeat: repeat;
min-height: 400px;
padding: 0 35px 15px 35px;
box-shadow: 0px 5px 10px grey;
}

.toDoList {
	font-size: 30px;
	text-align; left;
	list-style-type: none;
	padding-left: 0;
}

.todoItem {
	line-height: 30px;
}

#sortable li {
	margin: 10px 0;
}

#sortable li:hover {
	cursor: pointer; 
	cursor: hand;
}


.trash {
	max-width: 24px;
}

.trash:hover {
 cursor: pointer;	
}

.move {
    max-width: 18px;
}

.newTaskForm {
	display: flex; 
	align-items: center;
	margin-top: 20px;
}

.addBtn {
	max-width: 24px;
}


#textField {
    font-size: 30px;
    width: 100%;
    font-family: 'amatic sc', cursive;
    padding-left: 10px;
}


input::-webkit-input-placeholder {
	font-family: 'amatic sc', cursive !important;
	font-size: 30px;
	color: #777;
}
 
input:-moz-placeholder { /* Firefox 18- */ 
	font-family: 'amatic sc', cursive !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */ 
	font-family: 'amatic sc', cursive !important;
}
 
input:-ms-input-placeholder {  
	font-family: 'amatic sc', cursive !important; 
}



